<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Arthur_6_attack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,325},{49,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,75}}</string>
				<key>sourceSize</key>
				<string>{61,75}</string>
			</dict>

			<key>Arthur_6_attack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>

			<key>Arthur_6_attack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,0},{82,61}}</string>
				<key>sourceSize</key>
				<string>{118,61}</string>
			</dict>

			<key>Arthur_6_attack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{82,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,58}}</string>
				<key>sourceSize</key>
				<string>{128,58}</string>
			</dict>

			<key>Arthur_6_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,64}}</string>
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>

			<key>Arthur_6_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{105,73}</string>
			</dict>

			<key>Arthur_6_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,412},{68,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{68,47}}</string>
				<key>sourceSize</key>
				<string>{85,47}</string>
			</dict>

			<key>Arthur_6_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,82}}</string>
				<key>sourceSize</key>
				<string>{126,82}</string>
			</dict>

			<key>Arthur_6_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,262},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{67,62}</string>
			</dict>

			<key>Arthur_6_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,0},{73,64}}</string>
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>

			<key>Arthur_6_comboattack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,157},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,62}}</string>
				<key>sourceSize</key>
				<string>{67,62}</string>
			</dict>

			<key>Arthur_6_comboattack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,100},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,56}}</string>
				<key>sourceSize</key>
				<string>{62,56}</string>
			</dict>

			<key>Arthur_6_comboattack3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{83,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,0},{83,68}}</string>
				<key>sourceSize</key>
				<string>{115,68}</string>
			</dict>

			<key>Arthur_6_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,62},{38,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,94}}</string>
				<key>sourceSize</key>
				<string>{38,94}</string>
			</dict>

			<key>Arthur_6_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{40,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,74}}</string>
				<key>sourceSize</key>
				<string>{40,74}</string>
			</dict>

			<key>Arthur_6_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,228},{38,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,64}}</string>
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>

			<key>Arthur_6_defence_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,401},{48,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,77}}</string>
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>

			<key>Arthur_6_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,152},{56,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,36}}</string>
				<key>sourceSize</key>
				<string>{56,36}</string>
			</dict>

			<key>Arthur_6_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,460},{61,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,46}}</string>
				<key>sourceSize</key>
				<string>{61,46}</string>
			</dict>

			<key>Arthur_6_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,26}}</string>
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>

			<key>Arthur_6_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,189},{56,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,36}}</string>
				<key>sourceSize</key>
				<string>{56,36}</string>
			</dict>

			<key>Arthur_6_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,226},{56,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,35}}</string>
				<key>sourceSize</key>
				<string>{56,35}</string>
			</dict>

			<key>Arthur_6_getup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,460},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{53,42}}</string>
				<key>sourceSize</key>
				<string>{73,42}</string>
			</dict>

			<key>Arthur_6_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{53,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>Arthur_6_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,347},{67,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,60}}</string>
				<key>sourceSize</key>
				<string>{111,60}</string>
			</dict>

			<key>Arthur_6_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,273},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,0},{61,54}}</string>
				<key>sourceSize</key>
				<string>{87,54}</string>
			</dict>

			<key>Arthur_6_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,62},{38,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,94}}</string>
				<key>sourceSize</key>
				<string>{38,94}</string>
			</dict>

			<key>Arthur_6_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,293},{38,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,91}}</string>
				<key>sourceSize</key>
				<string>{38,91}</string>
			</dict>

			<key>Arthur_6_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{40,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{40,61}}</string>
				<key>sourceSize</key>
				<string>{46,61}</string>
			</dict>

			<key>Arthur_6_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,100},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{44,63}}</string>
				<key>sourceSize</key>
				<string>{54,63}</string>
			</dict>

			<key>Arthur_6_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,83},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{55,61}}</string>
				<key>sourceSize</key>
				<string>{74,61}</string>
			</dict>

			<key>Arthur_6_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,164},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,0},{44,63}}</string>
				<key>sourceSize</key>
				<string>{59,63}</string>
			</dict>

			<key>Arthur_6_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{54,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{54,99}}</string>
				<key>sourceSize</key>
				<string>{63,103}</string>
			</dict>

			<key>Arthur_6_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,228},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,117}}</string>
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>