<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Percival_1_ default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,275},{55,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,75}}</string>
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>

			<key>Percival_1_ default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,67},{40,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{40,70}}</string>
				<key>sourceSize</key>
				<string>{48,70}</string>
			</dict>

			<key>Percival_1_ default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,387},{36,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{36,72}}</string>
				<key>sourceSize</key>
				<string>{40,72}</string>
			</dict>

			<key>Percival_1_Avarta.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,88}}</string>
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>

			<key>Percival_1_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,65},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>

			<key>Percival_1_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>Percival_1_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,210},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>Percival_1_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,0},{85,64}}</string>
				<key>sourceSize</key>
				<string>{121,64}</string>
			</dict>

			<key>Percival_1_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{68,60}}</string>
				<key>sourceSize</key>
				<string>{91,60}</string>
			</dict>

			<key>Percival_1_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,73},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{41,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>

			<key>Percival_1_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,387},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>Percival_1_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,73},{49,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,69}}</string>
				<key>sourceSize</key>
				<string>{72,69}</string>
			</dict>

			<key>Percival_1_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{80,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,0},{80,69}}</string>
				<key>sourceSize</key>
				<string>{128,69}</string>
			</dict>

			<key>Percival_1_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,417},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,0},{59,69}}</string>
				<key>sourceSize</key>
				<string>{95,69}</string>
			</dict>

			<key>Percival_1_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{52,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>Percival_1_getdown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,213},{41,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,0},{41,56}}</string>
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>

			<key>Percival_1_getdown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,138},{38,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{38,70}}</string>
				<key>sourceSize</key>
				<string>{44,70}</string>
			</dict>

			<key>Percival_1_getdown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,351},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,53}}</string>
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>

			<key>Percival_1_getdown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,26}}</string>
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>

			<key>Percival_1_getdown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,36}}</string>
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>

			<key>Percival_1_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,277},{44,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,74}}</string>
				<key>sourceSize</key>
				<string>{55,74}</string>
			</dict>

			<key>Percival_1_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,352},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>Percival_1_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,275},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>

			<key>Percival_1_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{42,66}}</string>
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>

			<key>Percival_1_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,135},{43,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,54}}</string>
				<key>sourceSize</key>
				<string>{43,54}</string>
			</dict>

			<key>Percival_1_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,143},{49,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{49,66}}</string>
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>

			<key>Percival_1_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,210},{41,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{41,64}}</string>
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>

			<key>Percival_1_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,405},{49,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,0},{49,66}}</string>
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>

			<key>Percival_1_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,405},{55,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,78}}</string>
				<key>sourceSize</key>
				<string>{71,78}</string>
			</dict>

			<key>Percival_1_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,275},{55,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,75}}</string>
				<key>sourceSize</key>
				<string>{81,75}</string>
			</dict>

			<key>Percival_1_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,417},{58,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,76}}</string>
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>

			<key>Percival_1_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,0},{49,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,72}}</string>
				<key>sourceSize</key>
				<string>{57,72}</string>
			</dict>

			<key>Percival_1_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,328},{58,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,76}}</string>
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>

			<key>Percival_1_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,196},{57,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,78}}</string>
				<key>sourceSize</key>
				<string>{71,78}</string>
			</dict>

			<key>Percival_1_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,130},{53,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,82}}</string>
				<key>sourceSize</key>
				<string>{69,82}</string>
			</dict>

			<key>Percival_1_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,277},{43,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,109}}</string>
				<key>sourceSize</key>
				<string>{43,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>