<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Garibaldi_Cup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,232},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>Garibaldi_Cup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,75},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>Garibaldi_Cup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,108},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>

			<key>Garibaldi_HP_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,8},{214,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,15}}</string>
				<key>sourceSize</key>
				<string>{214,15}</string>
			</dict>

			<key>Garibaldi_HP_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{214,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,7}}</string>
				<key>sourceSize</key>
				<string>{214,7}</string>
			</dict>

			<key>Garibaldi_SkillFire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,978},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,39}}</string>
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>

			<key>Garibaldi_SkillFire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,933},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,44}}</string>
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>

			<key>Garibaldi_SkillFire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,372},{32,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,49}}</string>
				<key>sourceSize</key>
				<string>{32,49}</string>
			</dict>

			<key>Garibaldi_SkillFire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,24},{26,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,50}}</string>
				<key>sourceSize</key>
				<string>{26,50}</string>
			</dict>

			<key>Garibaldi_SkillIce_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,815},{36,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,8}}</string>
				<key>sourceSize</key>
				<string>{36,8}</string>
			</dict>

			<key>Garibaldi_SkillIce_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,933},{36,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,14}}</string>
				<key>sourceSize</key>
				<string>{36,14}</string>
			</dict>

			<key>Garibaldi_SkillIce_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,477},{40,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,31}}</string>
				<key>sourceSize</key>
				<string>{40,31}</string>
			</dict>

			<key>Garibaldi_SkillIce_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,422},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,46}}</string>
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>

			<key>Garibaldi_SkillIce_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,970},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>Garibaldi_SkillJumpIce_1 (1).png</key>
			<dict>
				<key>frame</key>
				<string>{{117,232},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>Garibaldi_SkillJumpIce_1 (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{92,824},{31,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,15}}</string>
				<key>sourceSize</key>
				<string>{31,15}</string>
			</dict>

			<key>Garibaldi_SkillJumpIce_1 (3).png</key>
			<dict>
				<key>frame</key>
				<string>{{117,259},{20,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,9}}</string>
				<key>sourceSize</key>
				<string>{20,9}</string>
			</dict>

			<key>Garibaldi_SkillJumpIce_1 (4).png</key>
			<dict>
				<key>frame</key>
				<string>{{126,933},{21,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,19}}</string>
				<key>sourceSize</key>
				<string>{21,19}</string>
			</dict>

			<key>Garibaldi_SkillSword.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,923},{31,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,46}}</string>
				<key>sourceSize</key>
				<string>{31,46}</string>
			</dict>

			<key>Garibaldi_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,751},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,88}}</string>
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>

			<key>Garibaldi_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,649},{92,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,101}}</string>
				<key>sourceSize</key>
				<string>{92,101}</string>
			</dict>

			<key>Garibaldi_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,509},{92,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,139}}</string>
				<key>sourceSize</key>
				<string>{92,139}</string>
			</dict>

			<key>Garibaldi_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{123,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,88}}</string>
				<key>sourceSize</key>
				<string>{123,88}</string>
			</dict>

			<key>Garibaldi_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,722},{66,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,92}}</string>
				<key>sourceSize</key>
				<string>{66,92}</string>
			</dict>

			<key>Garibaldi_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,840},{80,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,92}}</string>
				<key>sourceSize</key>
				<string>{80,92}</string>
			</dict>

			<key>Garibaldi_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{88,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,112}}</string>
				<key>sourceSize</key>
				<string>{88,112}</string>
			</dict>

			<key>Garibaldi_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,232},{54,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,128}}</string>
				<key>sourceSize</key>
				<string>{54,128}</string>
			</dict>

			<key>Garibaldi_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,24},{123,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,88}}</string>
				<key>sourceSize</key>
				<string>{123,88}</string>
			</dict>

			<key>Garibaldi_defeat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{112,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,90}}</string>
				<key>sourceSize</key>
				<string>{112,90}</string>
			</dict>

			<key>Garibaldi_defeatshadow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{112,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,90}}</string>
				<key>sourceSize</key>
				<string>{112,90}</string>
			</dict>

			<key>Garibaldi_die_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{75,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,66}}</string>
				<key>sourceSize</key>
				<string>{75,66}</string>
			</dict>

			<key>Garibaldi_die_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{103,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,57}}</string>
				<key>sourceSize</key>
				<string>{103,57}</string>
			</dict>

			<key>Garibaldi_die_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{116,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,66}}</string>
				<key>sourceSize</key>
				<string>{116,66}</string>
			</dict>

			<key>Garibaldi_dieshadow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,953},{75,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,66}}</string>
				<key>sourceSize</key>
				<string>{75,66}</string>
			</dict>

			<key>Garibaldi_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,477},{56,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,151}}</string>
				<key>sourceSize</key>
				<string>{56,151}</string>
			</dict>

			<key>Garibaldi_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,620},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,101}}</string>
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>

			<key>Garibaldi_jumpshadow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,771},{56,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,151}}</string>
				<key>sourceSize</key>
				<string>{56,151}</string>
			</dict>

			<key>Garibaldi_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,509},{71,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,110}}</string>
				<key>sourceSize</key>
				<string>{71,110}</string>
			</dict>

			<key>Garibaldi_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,269},{65,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,102}}</string>
				<key>sourceSize</key>
				<string>{65,102}</string>
			</dict>

			<key>Garibaldi_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,372},{64,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,104}}</string>
				<key>sourceSize</key>
				<string>{64,104}</string>
			</dict>

			<key>Garibaldi_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,24},{61,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,104}}</string>
				<key>sourceSize</key>
				<string>{61,104}</string>
			</dict>

			<key>Garibaldi_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,129},{61,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,102}}</string>
				<key>sourceSize</key>
				<string>{61,102}</string>
			</dict>

			<key>Garibaldi_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,629},{56,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,141}}</string>
				<key>sourceSize</key>
				<string>{56,141}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>