<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SwordMan_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,113},{44,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{44,72}}</string>
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>

			<key>SwordMan_Attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,157},{67,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,0},{67,83}}</string>
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>

			<key>SwordMan_Attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{85,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{85,55}}</string>
				<key>sourceSize</key>
				<string>{162,55}</string>
			</dict>

			<key>SwordMan_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{42,50}}</string>
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>

			<key>SwordMan_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,113},{54,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,42}}</string>
				<key>sourceSize</key>
				<string>{54,42}</string>
			</dict>

			<key>SwordMan_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{88,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,28}}</string>
				<key>sourceSize</key>
				<string>{88,28}</string>
			</dict>

			<key>SwordMan_GetUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{83,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,32}}</string>
				<key>sourceSize</key>
				<string>{83,32}</string>
			</dict>

			<key>SwordMan_GetUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,65},{63,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{63,47}}</string>
				<key>sourceSize</key>
				<string>{128,47}</string>
			</dict>

			<key>SwordMan_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,157},{70,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{70,15}}</string>
				<key>sourceSize</key>
				<string>{80,21}</string>
			</dict>

			<key>SwordMan_Hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{90,62}}</string>
				<key>sourceSize</key>
				<string>{153,62}</string>
			</dict>

			<key>SwordMan_Stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{41,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{41,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{41,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{41,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{41,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{41,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{41,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{41,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,0},{74,63}}</string>
				<key>sourceSize</key>
				<string>{121,63}</string>
			</dict>

			<key>SwordMan_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,92},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,0},{73,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>SwordMan_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,0},{73,64}}</string>
				<key>sourceSize</key>
				<string>{127,64}</string>
			</dict>

			<key>SwordMan_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,181},{73,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,0},{73,63}}</string>
				<key>sourceSize</key>
				<string>{117,63}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>