<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Percival_8_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,407},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>

			<key>Percival_8_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{88,67}</string>
			</dict>

			<key>Percival_8_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,273},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>

			<key>Percival_8_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,0},{85,64}}</string>
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>

			<key>Percival_8_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,0},{69,60}}</string>
				<key>sourceSize</key>
				<string>{95,60}</string>
			</dict>

			<key>Percival_8_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,142},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,45}}</string>
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>

			<key>Percival_8_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,176},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,62}}</string>
				<key>sourceSize</key>
				<string>{41,62}</string>
			</dict>

			<key>Percival_8_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,424},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,69}}</string>
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>

			<key>Percival_8_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{80,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{80,69}}</string>
				<key>sourceSize</key>
				<string>{113,69}</string>
			</dict>

			<key>Percival_8_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,0},{61,69}}</string>
				<key>sourceSize</key>
				<string>{86,69}</string>
			</dict>

			<key>Percival_8_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,196},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,76}}</string>
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>

			<key>Percival_8_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,300},{37,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,70}}</string>
				<key>sourceSize</key>
				<string>{37,70}</string>
			</dict>

			<key>Percival_8_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{36,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,71}}</string>
				<key>sourceSize</key>
				<string>{47,71}</string>
			</dict>

			<key>Percival_8_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{52,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,72}}</string>
				<key>sourceSize</key>
				<string>{64,72}</string>
			</dict>

			<key>Percival_8_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,239},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{41,60}}</string>
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>

			<key>Percival_8_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,300},{37,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,70}}</string>
				<key>sourceSize</key>
				<string>{37,70}</string>
			</dict>

			<key>Percival_8_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,142},{57,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,53}}</string>
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>

			<key>Percival_8_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,293},{66,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,37}}</string>
				<key>sourceSize</key>
				<string>{66,37}</string>
			</dict>

			<key>Percival_8_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{67,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,28}}</string>
				<key>sourceSize</key>
				<string>{67,28}</string>
			</dict>

			<key>Percival_8_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,141},{47,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,72}}</string>
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>

			<key>Percival_8_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,214},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>

			<key>Percival_8_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,43}}</string>
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>

			<key>Percival_8_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,424},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,66}}</string>
				<key>sourceSize</key>
				<string>{42,66}</string>
			</dict>

			<key>Percival_8_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,452},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,56}}</string>
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>

			<key>Percival_8_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,73},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,67}}</string>
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>

			<key>Percival_8_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,110},{42,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,65}}</string>
				<key>sourceSize</key>
				<string>{42,65}</string>
			</dict>

			<key>Percival_8_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,356},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,67}}</string>
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>

			<key>Percival_8_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,372},{56,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,79}}</string>
				<key>sourceSize</key>
				<string>{71,79}</string>
			</dict>

			<key>Percival_8_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,196},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,76}}</string>
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>

			<key>Percival_8_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,65},{58,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>Percival_8_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,331},{64,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,75}}</string>
				<key>sourceSize</key>
				<string>{64,75}</string>
			</dict>

			<key>Percival_8_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,196},{58,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,76}}</string>
				<key>sourceSize</key>
				<string>{70,76}</string>
			</dict>

			<key>Percival_8_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,293},{59,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,78}}</string>
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>

			<key>Percival_8_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,0},{45,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>

			<key>Percival_8_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,273},{55,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,82}}</string>
				<key>sourceSize</key>
				<string>{76,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>