<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Garibaldi_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{122,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,139}}</string>
				<key>sourceSize</key>
				<string>{122,139}</string>
			</dict>

			<key>Garibaldi_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{171,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,88}}</string>
				<key>sourceSize</key>
				<string>{171,88}</string>
			</dict>

			<key>Garibaldi_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{122,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,112}}</string>
				<key>sourceSize</key>
				<string>{122,112}</string>
			</dict>

			<key>Garibaldi_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,180},{112,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,131}}</string>
				<key>sourceSize</key>
				<string>{112,131}</string>
			</dict>

			<key>Garibaldi_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,105},{75,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,66}}</string>
				<key>sourceSize</key>
				<string>{75,66}</string>
			</dict>

			<key>Garibaldi_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,433},{103,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,57}}</string>
				<key>sourceSize</key>
				<string>{103,57}</string>
			</dict>

			<key>Garibaldi_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,433},{116,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,66}}</string>
				<key>sourceSize</key>
				<string>{116,66}</string>
			</dict>

			<key>Garibaldi_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,101}}</string>
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>

			<key>Garibaldi_hitted_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{132,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,90}}</string>
				<key>sourceSize</key>
				<string>{132,90}</string>
			</dict>

			<key>Garibaldi_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,102},{56,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,151}}</string>
				<key>sourceSize</key>
				<string>{56,151}</string>
			</dict>

			<key>Garibaldi_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,312},{91,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,110}}</string>
				<key>sourceSize</key>
				<string>{91,110}</string>
			</dict>

			<key>Garibaldi_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,208},{74,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,102}}</string>
				<key>sourceSize</key>
				<string>{74,102}</string>
			</dict>

			<key>Garibaldi_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,0},{78,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,104}}</string>
				<key>sourceSize</key>
				<string>{78,104}</string>
			</dict>

			<key>Garibaldi_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,312},{75,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,104}}</string>
				<key>sourceSize</key>
				<string>{75,104}</string>
			</dict>

			<key>Garibaldi_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,105},{75,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,102}}</string>
				<key>sourceSize</key>
				<string>{75,102}</string>
			</dict>

			<key>Garibaldi_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,311},{56,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,141}}</string>
				<key>sourceSize</key>
				<string>{56,141}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Boss.png</string>
			</dict>
		</dict>
</plist>