<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Percival_1_ default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,334},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,75}}</string>
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>

			<key>Percival_1_ default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,142},{48,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>sourceSize</key>
				<string>{48,70}</string>
			</dict>

			<key>Percival_1_ default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,284},{40,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,72}}</string>
				<key>sourceSize</key>
				<string>{40,72}</string>
			</dict>

			<key>Percival_1_Avarta.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,291},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,88}}</string>
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>

			<key>Percival_1_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,79},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>

			<key>Percival_1_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>Percival_1_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{58,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>Percival_1_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{121,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,64}}</string>
				<key>sourceSize</key>
				<string>{121,64}</string>
			</dict>

			<key>Percival_1_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{91,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,60}}</string>
				<key>sourceSize</key>
				<string>{91,60}</string>
			</dict>

			<key>Percival_1_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,453},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>

			<key>Percival_1_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,144},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>Percival_1_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,410},{72,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,69}}</string>
				<key>sourceSize</key>
				<string>{72,69}</string>
			</dict>

			<key>Percival_1_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,69}}</string>
				<key>sourceSize</key>
				<string>{128,69}</string>
			</dict>

			<key>Percival_1_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{95,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,69}}</string>
				<key>sourceSize</key>
				<string>{95,69}</string>
			</dict>

			<key>Percival_1_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,213},{44,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,70}}</string>
				<key>sourceSize</key>
				<string>{44,70}</string>
			</dict>

			<key>Percival_1_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,211},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>Percival_1_getdown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,453},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,53}}</string>
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>

			<key>Percival_1_getdown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,291},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,36}}</string>
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>

			<key>Percival_1_getdown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,480},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,26}}</string>
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>

			<key>Percival_1_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,284},{43,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,54}}</string>
				<key>sourceSize</key>
				<string>{43,54}</string>
			</dict>

			<key>Percival_1_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,284},{43,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,54}}</string>
				<key>sourceSize</key>
				<string>{43,54}</string>
			</dict>

			<key>Percival_1_hitted_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,56}}</string>
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>

			<key>Percival_1_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,67},{55,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,74}}</string>
				<key>sourceSize</key>
				<string>{55,74}</string>
			</dict>

			<key>Percival_1_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>Percival_1_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,79},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>

			<key>Percival_1_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,57},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,66}}</string>
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>

			<key>Percival_1_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,284},{43,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,54}}</string>
				<key>sourceSize</key>
				<string>{43,54}</string>
			</dict>

			<key>Percival_1_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,276},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,66}}</string>
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>

			<key>Percival_1_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,211},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,64}}</string>
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>

			<key>Percival_1_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,144},{60,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,66}}</string>
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>

			<key>Percival_1_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,212},{71,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,78}}</string>
				<key>sourceSize</key>
				<string>{71,78}</string>
			</dict>

			<key>Percival_1_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,75}}</string>
				<key>sourceSize</key>
				<string>{81,75}</string>
			</dict>

			<key>Percival_1_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,76}}</string>
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>

			<key>Percival_1_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,380},{57,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,72}}</string>
				<key>sourceSize</key>
				<string>{57,72}</string>
			</dict>

			<key>Percival_1_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,135},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,76}}</string>
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>

			<key>Percival_1_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{71,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,78}}</string>
				<key>sourceSize</key>
				<string>{71,78}</string>
			</dict>

			<key>Percival_1_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,410},{69,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,82}}</string>
				<key>sourceSize</key>
				<string>{69,82}</string>
			</dict>

			<key>Percival_1_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,343},{50,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,109}}</string>
				<key>sourceSize</key>
				<string>{50,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ArthurLvl6.png</string>
			</dict>
		</dict>
</plist>