<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SwordMan_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,184},{61,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,72}}</string>
				<key>sourceSize</key>
				<string>{61,72}</string>
			</dict>

			<key>SwordMan_Attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,425},{97,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,83}}</string>
				<key>sourceSize</key>
				<string>{97,83}</string>
			</dict>

			<key>SwordMan_Attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,55}}</string>
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>

			<key>SwordMan_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,106},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,50}}</string>
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>

			<key>SwordMan_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,63},{54,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,42}}</string>
				<key>sourceSize</key>
				<string>{54,42}</string>
			</dict>

			<key>SwordMan_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,425},{88,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,28}}</string>
				<key>sourceSize</key>
				<string>{88,28}</string>
			</dict>

			<key>SwordMan_GetUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,454},{83,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,32}}</string>
				<key>sourceSize</key>
				<string>{83,32}</string>
			</dict>

			<key>SwordMan_GetUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{128,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,47}}</string>
				<key>sourceSize</key>
				<string>{128,47}</string>
			</dict>

			<key>SwordMan_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,487},{80,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,21}}</string>
				<key>sourceSize</key>
				<string>{80,21}</string>
			</dict>

			<key>SwordMan_Hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{153,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,62}}</string>
				<key>sourceSize</key>
				<string>{153,62}</string>
			</dict>

			<key>SwordMan_Stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,297},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,297},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,297},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Stand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,297},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,91}}</string>
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>

			<key>SwordMan_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{124,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,63}}</string>
				<key>sourceSize</key>
				<string>{124,63}</string>
			</dict>

			<key>SwordMan_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{130,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,64}}</string>
				<key>sourceSize</key>
				<string>{130,64}</string>
			</dict>

			<key>SwordMan_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{127,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,64}}</string>
				<key>sourceSize</key>
				<string>{127,64}</string>
			</dict>

			<key>SwordMan_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,361},{118,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,63}}</string>
				<key>sourceSize</key>
				<string>{118,63}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>