<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Percival_12_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{83,67}</string>
			</dict>

			<key>Percival_12_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,418},{48,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,67}}</string>
				<key>sourceSize</key>
				<string>{70,67}</string>
			</dict>

			<key>Percival_12_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,0},{85,64}}</string>
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>

			<key>Percival_12_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,60}}</string>
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>

			<key>Percival_12_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,181},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,45}}</string>
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>

			<key>Percival_12_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,117},{41,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,63}}</string>
				<key>sourceSize</key>
				<string>{41,63}</string>
			</dict>

			<key>Percival_12_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,65},{51,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,69}}</string>
				<key>sourceSize</key>
				<string>{80,69}</string>
			</dict>

			<key>Percival_12_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{112,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,71}}</string>
				<key>sourceSize</key>
				<string>{112,71}</string>
			</dict>

			<key>Percival_12_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,416},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,0},{61,69}}</string>
				<key>sourceSize</key>
				<string>{93,69}</string>
			</dict>

			<key>Percival_12_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,255},{57,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,76}}</string>
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>

			<key>Percival_12_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,416},{42,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,71}}</string>
				<key>sourceSize</key>
				<string>{42,71}</string>
			</dict>

			<key>Percival_12_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,295},{39,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,71}}</string>
				<key>sourceSize</key>
				<string>{39,71}</string>
			</dict>

			<key>Percival_12_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,64}}</string>
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>

			<key>Percival_12_getdown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,56},{43,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{43,60}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>

			<key>Percival_12_getdown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,416},{42,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,71}}</string>
				<key>sourceSize</key>
				<string>{42,71}</string>
			</dict>

			<key>Percival_12_getdown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,198},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,56}}</string>
				<key>sourceSize</key>
				<string>{58,56}</string>
			</dict>

			<key>Percival_12_getdown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,37}}</string>
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>

			<key>Percival_12_getdown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,29}}</string>
				<key>sourceSize</key>
				<string>{67,29}</string>
			</dict>

			<key>Percival_12_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,228},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,74}}</string>
				<key>sourceSize</key>
				<string>{48,74}</string>
			</dict>

			<key>Percival_12_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,0},{41,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,51}}</string>
				<key>sourceSize</key>
				<string>{41,51}</string>
			</dict>

			<key>Percival_12_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,152},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,43}}</string>
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>

			<key>Percival_12_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,227},{41,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,67}}</string>
				<key>sourceSize</key>
				<string>{41,67}</string>
			</dict>

			<key>Percival_12_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{46,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,55}}</string>
				<key>sourceSize</key>
				<string>{46,55}</string>
			</dict>

			<key>Percival_12_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,255},{52,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,66}}</string>
				<key>sourceSize</key>
				<string>{52,66}</string>
			</dict>

			<key>Percival_12_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,135},{44,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,64}}</string>
				<key>sourceSize</key>
				<string>{44,64}</string>
			</dict>

			<key>Percival_12_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,418},{52,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,66}}</string>
				<key>sourceSize</key>
				<string>{52,66}</string>
			</dict>

			<key>Percival_12_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,72},{57,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,79}}</string>
				<key>sourceSize</key>
				<string>{57,79}</string>
			</dict>

			<key>Percival_12_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,255},{57,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,76}}</string>
				<key>sourceSize</key>
				<string>{57,76}</string>
			</dict>

			<key>Percival_12_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,414},{59,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,79}}</string>
				<key>sourceSize</key>
				<string>{88,79}</string>
			</dict>

			<key>Percival_12_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,152},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,75}}</string>
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>

			<key>Percival_12_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,334},{59,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,79}}</string>
				<key>sourceSize</key>
				<string>{88,79}</string>
			</dict>

			<key>Percival_12_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{61,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,81}}</string>
				<key>sourceSize</key>
				<string>{94,81}</string>
			</dict>

			<key>Percival_12_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,303},{47,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,112}}</string>
				<key>sourceSize</key>
				<string>{62,112}</string>
			</dict>

			<key>Percival_12_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,332},{57,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,85}}</string>
				<key>sourceSize</key>
				<string>{76,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>