<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Percival_4_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,424},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,64}}</string>
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>

			<key>Percival_4_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{88,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,67}}</string>
				<key>sourceSize</key>
				<string>{88,67}</string>
			</dict>

			<key>Percival_4_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,0},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>

			<key>Percival_4_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{106,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,64}}</string>
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>

			<key>Percival_4_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{95,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,60}}</string>
				<key>sourceSize</key>
				<string>{95,60}</string>
			</dict>

			<key>Percival_4_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,139},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,45}}</string>
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>

			<key>Percival_4_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,185},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,62}}</string>
				<key>sourceSize</key>
				<string>{41,62}</string>
			</dict>

			<key>Percival_4_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,212},{67,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,69}}</string>
				<key>sourceSize</key>
				<string>{67,69}</string>
			</dict>

			<key>Percival_4_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{113,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,69}}</string>
				<key>sourceSize</key>
				<string>{113,69}</string>
			</dict>

			<key>Percival_4_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{86,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,69}}</string>
				<key>sourceSize</key>
				<string>{86,69}</string>
			</dict>

			<key>Percival_4_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,76}}</string>
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>

			<key>Percival_4_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,332},{37,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,70}}</string>
				<key>sourceSize</key>
				<string>{37,70}</string>
			</dict>

			<key>Percival_4_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{47,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,71}}</string>
				<key>sourceSize</key>
				<string>{47,71}</string>
			</dict>

			<key>Percival_4_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,424},{64,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,72}}</string>
				<key>sourceSize</key>
				<string>{64,72}</string>
			</dict>

			<key>Percival_4_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,282},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,60}}</string>
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>

			<key>Percival_4_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,332},{37,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,70}}</string>
				<key>sourceSize</key>
				<string>{37,70}</string>
			</dict>

			<key>Percival_4_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,80},{57,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,53}}</string>
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>

			<key>Percival_4_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,212},{66,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,37}}</string>
				<key>sourceSize</key>
				<string>{66,37}</string>
			</dict>

			<key>Percival_4_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,347},{67,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,28}}</string>
				<key>sourceSize</key>
				<string>{67,28}</string>
			</dict>

			<key>Percival_4_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,282},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,72}}</string>
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>

			<key>Percival_4_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,412},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>

			<key>Percival_4_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,156},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,43}}</string>
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>

			<key>Percival_4_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,72},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,66}}</string>
				<key>sourceSize</key>
				<string>{42,66}</string>
			</dict>

			<key>Percival_4_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,355},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,56}}</string>
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>

			<key>Percival_4_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,355},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,67}}</string>
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>

			<key>Percival_4_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,266},{42,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,65}}</string>
				<key>sourceSize</key>
				<string>{42,65}</string>
			</dict>

			<key>Percival_4_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,67},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,67}}</string>
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>

			<key>Percival_4_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{71,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,79}}</string>
				<key>sourceSize</key>
				<string>{71,79}</string>
			</dict>

			<key>Percival_4_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,135},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,76}}</string>
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>

			<key>Percival_4_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,411},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>Percival_4_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,80},{64,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,75}}</string>
				<key>sourceSize</key>
				<string>{64,75}</string>
			</dict>

			<key>Percival_4_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,347},{70,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,76}}</string>
				<key>sourceSize</key>
				<string>{70,76}</string>
			</dict>

			<key>Percival_4_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,411},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>

			<key>Percival_4_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,264},{76,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,82}}</string>
				<key>sourceSize</key>
				<string>{76,82}</string>
			</dict>

			<key>Percival_4_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,156},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>