<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Arthur_1_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,360},{51,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{51,76}}</string>
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>

			<key>Arthur_1_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,0},{74,73}}</string>
				<key>sourceSize</key>
				<string>{105,73}</string>
			</dict>

			<key>Arthur_1_attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,408},{69,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{69,47}}</string>
				<key>sourceSize</key>
				<string>{88,47}</string>
			</dict>

			<key>Arthur_1_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,209},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,88}}</string>
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>

			<key>Arthur_1_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{82,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,0},{82,60}}</string>
				<key>sourceSize</key>
				<string>{122,60}</string>
			</dict>

			<key>Arthur_1_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{84,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{84,56}}</string>
				<key>sourceSize</key>
				<string>{135,58}</string>
			</dict>

			<key>Arthur_1_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,63},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,56}}</string>
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>

			<key>Arthur_1_comboattack1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{83,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,0},{83,68}}</string>
				<key>sourceSize</key>
				<string>{123,68}</string>
			</dict>

			<key>Arthur_1_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,0},{85,82}}</string>
				<key>sourceSize</key>
				<string>{134,82}</string>
			</dict>

			<key>Arthur_1_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>Arthur_1_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,344},{73,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,63}}</string>
				<key>sourceSize</key>
				<string>{97,63}</string>
			</dict>

			<key>Arthur_1_comboattack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,120},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{50,62}}</string>
				<key>sourceSize</key>
				<string>{69,62}</string>
			</dict>

			<key>Arthur_1_comboattack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{72,64}}</string>
				<key>sourceSize</key>
				<string>{112,64}</string>
			</dict>

			<key>Arthur_1_comboattack3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{74,73}}</string>
				<key>sourceSize</key>
				<string>{109,73}</string>
			</dict>

			<key>Arthur_1_comboattack3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,408},{69,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{69,47}}</string>
				<key>sourceSize</key>
				<string>{92,47}</string>
			</dict>

			<key>Arthur_1_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{36,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,94}}</string>
				<key>sourceSize</key>
				<string>{36,94}</string>
			</dict>

			<key>Arthur_1_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,141},{41,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,74}}</string>
				<key>sourceSize</key>
				<string>{41,74}</string>
			</dict>

			<key>Arthur_1_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,216},{37,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{37,64}}</string>
				<key>sourceSize</key>
				<string>{44,64}</string>
			</dict>

			<key>Arthur_1_defence_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,437},{48,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,70}}</string>
				<key>sourceSize</key>
				<string>{48,70}</string>
			</dict>

			<key>Arthur_1_defence_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,63},{42,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,77}}</string>
				<key>sourceSize</key>
				<string>{42,77}</string>
			</dict>

			<key>Arthur_1_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{55,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,35}}</string>
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>

			<key>Arthur_1_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,140},{60,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,46}}</string>
				<key>sourceSize</key>
				<string>{60,46}</string>
			</dict>

			<key>Arthur_1_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,473},{70,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,24}}</string>
				<key>sourceSize</key>
				<string>{70,24}</string>
			</dict>

			<key>Arthur_1_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,298},{57,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,31}}</string>
				<key>sourceSize</key>
				<string>{57,31}</string>
			</dict>

			<key>Arthur_1_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,83},{57,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,32}}</string>
				<key>sourceSize</key>
				<string>{57,32}</string>
			</dict>

			<key>Arthur_1_getup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,36},{51,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,0},{51,44}}</string>
				<key>sourceSize</key>
				<string>{72,44}</string>
			</dict>

			<key>Arthur_1_hitted_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,456},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{50,55}}</string>
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>

			<key>Arthur_1_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,344},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,60}}</string>
				<key>sourceSize</key>
				<string>{107,62}</string>
			</dict>

			<key>Arthur_1_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,456},{64,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{64,53}}</string>
				<key>sourceSize</key>
				<string>{87,53}</string>
			</dict>

			<key>Arthur_1_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,187},{48,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,15}}</string>
				<key>sourceSize</key>
				<string>{48,15}</string>
			</dict>

			<key>Arthur_1_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,216},{36,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,91}}</string>
				<key>sourceSize</key>
				<string>{36,91}</string>
			</dict>

			<key>Arthur_1_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{36,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,94}}</string>
				<key>sourceSize</key>
				<string>{36,94}</string>
			</dict>

			<key>Arthur_1_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{38,61}}</string>
				<key>sourceSize</key>
				<string>{47,61}</string>
			</dict>

			<key>Arthur_1_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,360},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{42,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>

			<key>Arthur_1_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,298},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{54,61}}</string>
				<key>sourceSize</key>
				<string>{72,61}</string>
			</dict>

			<key>Arthur_1_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,283},{42,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,0},{42,61}}</string>
				<key>sourceSize</key>
				<string>{53,61}</string>
			</dict>

			<key>Arthur_1_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,183},{49,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,99}}</string>
				<key>sourceSize</key>
				<string>{49,99}</string>
			</dict>

			<key>Arthur_1_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,345},{39,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,117}}</string>
				<key>sourceSize</key>
				<string>{39,117}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ArthurLvl1.png</string>
			</dict>
		</dict>
</plist>