<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BirdMan_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{131,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,64}}</string>
				<key>sourceSize</key>
				<string>{131,64}</string>
			</dict>

			<key>BirdMan_Attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,64}}</string>
				<key>sourceSize</key>
				<string>{144,64}</string>
			</dict>

			<key>BirdMan_Attack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,0},{78,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,62}}</string>
				<key>sourceSize</key>
				<string>{78,62}</string>
			</dict>

			<key>BirdMan_Defeat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,0},{64,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,57}}</string>
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>

			<key>BirdMan_Defeat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,199},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>BirdMan_Defeat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{87,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,70}}</string>
				<key>sourceSize</key>
				<string>{87,70}</string>
			</dict>

			<key>BirdMan_Defeat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,133},{76,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,65}}</string>
				<key>sourceSize</key>
				<string>{76,65}</string>
			</dict>

			<key>BirdMan_Defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,65},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>BirdMan_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,133},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>BirdMan_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,65},{71,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,52}}</string>
				<key>sourceSize</key>
				<string>{71,52}</string>
			</dict>

			<key>BirdMan_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{85,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,35}}</string>
				<key>sourceSize</key>
				<string>{85,35}</string>
			</dict>

			<key>BirdMan_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,235},{67,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,15}}</string>
				<key>sourceSize</key>
				<string>{67,15}</string>
			</dict>

			<key>BirdMan_Hickey.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,0},{78,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,62}}</string>
				<key>sourceSize</key>
				<string>{78,62}</string>
			</dict>

			<key>BirdMan_Stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,0},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>

			<key>BirdMan_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,68}}</string>
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>

			<key>BirdMan_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,63},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,69}}</string>
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>

			<key>BirdMan_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,141},{85,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,68}}</string>
				<key>sourceSize</key>
				<string>{85,68}</string>
			</dict>

			<key>BirdMan_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,71},{85,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,69}}</string>
				<key>sourceSize</key>
				<string>{85,69}</string>
			</dict>

			<key>BirdMan_preAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,130},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,83}}</string>
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>BirdMan.png</string>
			</dict>
		</dict>
</plist>