<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BirdMan_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,154},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,0},{65,67}}</string>
				<key>sourceSize</key>
				<string>{82,67}</string>
			</dict>

			<key>BirdMan_Attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{68,83}}</string>
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>

			<key>BirdMan_Attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{89,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,0},{89,64}}</string>
				<key>sourceSize</key>
				<string>{144,64}</string>
			</dict>

			<key>BirdMan_Attack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{57,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{57,62}}</string>
				<key>sourceSize</key>
				<string>{78,62}</string>
			</dict>

			<key>BirdMan_Defeat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,198},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{51,57}}</string>
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>

			<key>BirdMan_Defeat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{51,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>

			<key>BirdMan_Defeat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,65},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{59,70}}</string>
				<key>sourceSize</key>
				<string>{87,70}</string>
			</dict>

			<key>BirdMan_Defeat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,63},{56,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{56,65}}</string>
				<key>sourceSize</key>
				<string>{76,65}</string>
			</dict>

			<key>BirdMan_Defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,0},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,0},{47,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>BirdMan_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,139},{48,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{48,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>BirdMan_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{71,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,52}}</string>
				<key>sourceSize</key>
				<string>{71,52}</string>
			</dict>

			<key>BirdMan_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{85,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,35}}</string>
				<key>sourceSize</key>
				<string>{85,35}</string>
			</dict>

			<key>BirdMan_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{67,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,15}}</string>
				<key>sourceSize</key>
				<string>{67,15}</string>
			</dict>

			<key>BirdMan_Stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,136},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,0},{57,64}}</string>
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>

			<key>BirdMan_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,129},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{56,68}}</string>
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>

			<key>BirdMan_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,139},{43,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,0},{43,69}}</string>
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>

			<key>BirdMan_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,70},{51,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,0},{51,68}}</string>
				<key>sourceSize</key>
				<string>{85,68}</string>
			</dict>

			<key>BirdMan_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{53,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,0},{53,69}}</string>
				<key>sourceSize</key>
				<string>{85,69}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>