<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Arthur_8_attack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,243},{54,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,79}}</string>
				<key>sourceSize</key>
				<string>{70,79}</string>
			</dict>

			<key>Arthur_8_attack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{102,73}</string>
			</dict>

			<key>Arthur_8_attack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,0},{82,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>Arthur_8_attack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{82,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,58}}</string>
				<key>sourceSize</key>
				<string>{126,58}</string>
			</dict>

			<key>Arthur_8_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,64}}</string>
				<key>sourceSize</key>
				<string>{102,64}</string>
			</dict>

			<key>Arthur_8_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>

			<key>Arthur_8_comboattack1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,347},{68,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{68,47}}</string>
				<key>sourceSize</key>
				<string>{86,47}</string>
			</dict>

			<key>Arthur_8_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,82}}</string>
				<key>sourceSize</key>
				<string>{128,82}</string>
			</dict>

			<key>Arthur_8_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,323},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>

			<key>Arthur_8_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,0},{73,64}}</string>
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>

			<key>Arthur_8_comboattack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,386},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,62}}</string>
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>

			<key>Arthur_8_comboattack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,449},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,56}}</string>
				<key>sourceSize</key>
				<string>{63,56}</string>
			</dict>

			<key>Arthur_8_comboattack3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{83,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,0},{83,68}}</string>
				<key>sourceSize</key>
				<string>{111,68}</string>
			</dict>

			<key>Arthur_8_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,120},{38,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,96}}</string>
				<key>sourceSize</key>
				<string>{38,96}</string>
			</dict>

			<key>Arthur_8_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,126},{42,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,76}}</string>
				<key>sourceSize</key>
				<string>{42,76}</string>
			</dict>

			<key>Arthur_8_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,282},{41,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,64}}</string>
				<key>sourceSize</key>
				<string>{41,64}</string>
			</dict>

			<key>Arthur_8_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,203},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,78}}</string>
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>

			<key>Arthur_8_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,473},{60,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,37}}</string>
				<key>sourceSize</key>
				<string>{60,37}</string>
			</dict>

			<key>Arthur_8_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,273},{61,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,48}}</string>
				<key>sourceSize</key>
				<string>{61,48}</string>
			</dict>

			<key>Arthur_8_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{72,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,26}}</string>
				<key>sourceSize</key>
				<string>{72,26}</string>
			</dict>

			<key>Arthur_8_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,83},{57,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,36}}</string>
				<key>sourceSize</key>
				<string>{57,36}</string>
			</dict>

			<key>Arthur_8_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,207},{57,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,35}}</string>
				<key>sourceSize</key>
				<string>{57,35}</string>
			</dict>

			<key>Arthur_8_getup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,102},{53,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{53,43}}</string>
				<key>sourceSize</key>
				<string>{67,43}</string>
			</dict>

			<key>Arthur_8_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,146},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{53,56}}</string>
				<key>sourceSize</key>
				<string>{67,56}</string>
			</dict>

			<key>Arthur_8_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,412},{70,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,60}}</string>
				<key>sourceSize</key>
				<string>{114,60}</string>
			</dict>

			<key>Arthur_8_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,152},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,0},{61,54}}</string>
				<key>sourceSize</key>
				<string>{86,54}</string>
			</dict>

			<key>Arthur_8_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,282},{38,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,96}}</string>
				<key>sourceSize</key>
				<string>{38,96}</string>
			</dict>

			<key>Arthur_8_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,379},{38,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,93}}</string>
				<key>sourceSize</key>
				<string>{38,93}</string>
			</dict>

			<key>Arthur_8_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,64},{43,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{43,61}}</string>
				<key>sourceSize</key>
				<string>{53,61}</string>
			</dict>

			<key>Arthur_8_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,0},{44,63}}</string>
				<key>sourceSize</key>
				<string>{56,63}</string>
			</dict>

			<key>Arthur_8_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{55,61}}</string>
				<key>sourceSize</key>
				<string>{74,61}</string>
			</dict>

			<key>Arthur_8_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,386},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{44,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>

			<key>Arthur_8_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{54,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{54,101}}</string>
				<key>sourceSize</key>
				<string>{59,104}</string>
			</dict>

			<key>Arthur_8_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{42,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,119}}</string>
				<key>sourceSize</key>
				<string>{42,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>