<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Arthur_5_attack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>Arthur_5_attack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{126,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,58}}</string>
				<key>sourceSize</key>
				<string>{126,58}</string>
			</dict>

			<key>Arthur_5_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,63},{70,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,79}}</string>
				<key>sourceSize</key>
				<string>{70,79}</string>
			</dict>

			<key>Arthur_5_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{102,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,73}}</string>
				<key>sourceSize</key>
				<string>{102,73}</string>
			</dict>

			<key>Arthur_5_attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,204},{86,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,47}}</string>
				<key>sourceSize</key>
				<string>{86,47}</string>
			</dict>

			<key>Arthur_5_comboattack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,408},{102,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,64}}</string>
				<key>sourceSize</key>
				<string>{102,64}</string>
			</dict>

			<key>Arthur_5_comboattack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{104,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,73}}</string>
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>

			<key>Arthur_5_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,82}}</string>
				<key>sourceSize</key>
				<string>{128,82}</string>
			</dict>

			<key>Arthur_5_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{70,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,62}}</string>
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>

			<key>Arthur_5_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,334},{97,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,64}}</string>
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>

			<key>Arthur_5_comboattack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,63},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,62}}</string>
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>

			<key>Arthur_5_comboattack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{63,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,56}}</string>
				<key>sourceSize</key>
				<string>{63,56}</string>
			</dict>

			<key>Arthur_5_comboattack3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{111,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,68}}</string>
				<key>sourceSize</key>
				<string>{111,68}</string>
			</dict>

			<key>Arthur_5_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,222},{38,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,96}}</string>
				<key>sourceSize</key>
				<string>{38,96}</string>
			</dict>

			<key>Arthur_5_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,62},{42,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,76}}</string>
				<key>sourceSize</key>
				<string>{42,76}</string>
			</dict>

			<key>Arthur_5_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,62},{41,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,64}}</string>
				<key>sourceSize</key>
				<string>{41,64}</string>
			</dict>

			<key>Arthur_5_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,143},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,78}}</string>
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>

			<key>Arthur_5_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,473},{60,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,37}}</string>
				<key>sourceSize</key>
				<string>{60,37}</string>
			</dict>

			<key>Arthur_5_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,200},{61,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,48}}</string>
				<key>sourceSize</key>
				<string>{61,48}</string>
			</dict>

			<key>Arthur_5_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{72,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,26}}</string>
				<key>sourceSize</key>
				<string>{72,26}</string>
			</dict>

			<key>Arthur_5_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,473},{57,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,36}}</string>
				<key>sourceSize</key>
				<string>{57,36}</string>
			</dict>

			<key>Arthur_5_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,462},{57,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,35}}</string>
				<key>sourceSize</key>
				<string>{57,35}</string>
			</dict>

			<key>Arthur_5_getup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,252},{67,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,43}}</string>
				<key>sourceSize</key>
				<string>{67,43}</string>
			</dict>

			<key>Arthur_5_hitted_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,143},{67,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,56}}</string>
				<key>sourceSize</key>
				<string>{67,56}</string>
			</dict>

			<key>Arthur_5_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{114,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,60}}</string>
				<key>sourceSize</key>
				<string>{114,60}</string>
			</dict>

			<key>Arthur_5_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,265},{86,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,54}}</string>
				<key>sourceSize</key>
				<string>{86,54}</string>
			</dict>

			<key>Arthur_5_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,319},{38,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,96}}</string>
				<key>sourceSize</key>
				<string>{38,96}</string>
			</dict>

			<key>Arthur_5_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,127},{38,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,93}}</string>
				<key>sourceSize</key>
				<string>{38,93}</string>
			</dict>

			<key>Arthur_5_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{53,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,61}}</string>
				<key>sourceSize</key>
				<string>{53,61}</string>
			</dict>

			<key>Arthur_5_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,398},{56,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,63}}</string>
				<key>sourceSize</key>
				<string>{56,63}</string>
			</dict>

			<key>Arthur_5_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,142},{74,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,61}}</string>
				<key>sourceSize</key>
				<string>{74,61}</string>
			</dict>

			<key>Arthur_5_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,398},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>

			<key>Arthur_5_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,296},{66,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,101}}</string>
				<key>sourceSize</key>
				<string>{66,101}</string>
			</dict>

			<key>Arthur_5_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,222},{42,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,119}}</string>
				<key>sourceSize</key>
				<string>{42,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ArthurLvl5.png</string>
			</dict>
		</dict>
</plist>