<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Arthur_9_attack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{55,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,79}}</string>
				<key>sourceSize</key>
				<string>{71,79}</string>
			</dict>

			<key>Arthur_9_attack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{107,73}</string>
			</dict>

			<key>Arthur_9_attack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,0},{83,63}}</string>
				<key>sourceSize</key>
				<string>{119,63}</string>
			</dict>

			<key>Arthur_9_attack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{83,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,59}}</string>
				<key>sourceSize</key>
				<string>{127,59}</string>
			</dict>

			<key>Arthur_9_attack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,292},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,58}}</string>
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>

			<key>Arthur_9_attack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{83,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,0},{83,68}}</string>
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>

			<key>Arthur_9_comboattack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,0},{84,82}}</string>
				<key>sourceSize</key>
				<string>{119,82}</string>
			</dict>

			<key>Arthur_9_comboattack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>

			<key>Arthur_9_comboattack2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,406},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,64}}</string>
				<key>sourceSize</key>
				<string>{103,64}</string>
			</dict>

			<key>Arthur_9_comboattack2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,64}}</string>
				<key>sourceSize</key>
				<string>{104,64}</string>
			</dict>

			<key>Arthur_9_comboattack3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,351},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,64}}</string>
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>

			<key>Arthur_9_comboattack3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,64}}</string>
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>

			<key>Arthur_9_comboattack3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,276},{68,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{68,47}}</string>
				<key>sourceSize</key>
				<string>{85,47}</string>
			</dict>

			<key>Arthur_9_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{37,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,95}}</string>
				<key>sourceSize</key>
				<string>{37,95}</string>
			</dict>

			<key>Arthur_9_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,238},{42,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,76}}</string>
				<key>sourceSize</key>
				<string>{42,76}</string>
			</dict>

			<key>Arthur_9_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,107},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,66}}</string>
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>

			<key>Arthur_9_defence.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,416},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,78}}</string>
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>

			<key>Arthur_9_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,471},{62,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,40}}</string>
				<key>sourceSize</key>
				<string>{62,40}</string>
			</dict>

			<key>Arthur_9_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,83},{63,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,48}}</string>
				<key>sourceSize</key>
				<string>{63,48}</string>
			</dict>

			<key>Arthur_9_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,27}}</string>
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>

			<key>Arthur_9_getup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,169},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,34}}</string>
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>

			<key>Arthur_9_getup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,132},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,36}}</string>
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>

			<key>Arthur_9_getup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,63},{53,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,0},{53,43}}</string>
				<key>sourceSize</key>
				<string>{81,43}</string>
			</dict>

			<key>Arthur_9_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,235},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,0},{53,56}}</string>
				<key>sourceSize</key>
				<string>{77,56}</string>
			</dict>

			<key>Arthur_9_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,332},{72,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,61}}</string>
				<key>sourceSize</key>
				<string>{115,61}</string>
			</dict>

			<key>Arthur_9_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{77,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{77,55}}</string>
				<key>sourceSize</key>
				<string>{84,55}</string>
			</dict>

			<key>Arthur_9_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,120},{37,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,96}}</string>
				<key>sourceSize</key>
				<string>{37,96}</string>
			</dict>

			<key>Arthur_9_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,416},{37,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,93}}</string>
				<key>sourceSize</key>
				<string>{37,93}</string>
			</dict>

			<key>Arthur_9_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,174},{43,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{43,63}}</string>
				<key>sourceSize</key>
				<string>{53,63}</string>
			</dict>

			<key>Arthur_9_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,416},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,0},{45,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>

			<key>Arthur_9_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,204},{57,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{57,62}}</string>
				<key>sourceSize</key>
				<string>{75,62}</string>
			</dict>

			<key>Arthur_9_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,351},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{45,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>Arthur_9_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,132},{54,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{54,102}}</string>
				<key>sourceSize</key>
				<string>{61,102}</string>
			</dict>

			<key>Arthur_9_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{42,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,119}}</string>
				<key>sourceSize</key>
				<string>{42,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>