<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TallMan_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,353},{62,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{62,72}}</string>
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>

			<key>TallMan_Attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{127,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,0},{127,59}}</string>
				<key>sourceSize</key>
				<string>{225,59}</string>
			</dict>

			<key>TallMan_ComBoAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,0},{86,72}}</string>
				<key>sourceSize</key>
				<string>{121,72}</string>
			</dict>

			<key>TallMan_ComBoAttack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,145},{69,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{69,80}}</string>
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>

			<key>TallMan_ComBoAttack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,88},{38,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{38,92}}</string>
				<key>sourceSize</key>
				<string>{63,92}</string>
			</dict>

			<key>TallMan_ComBoAttack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,0},{88,84}}</string>
				<key>sourceSize</key>
				<string>{134,84}</string>
			</dict>

			<key>TallMan_ComBoAttack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,355},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{73,74}}</string>
				<key>sourceSize</key>
				<string>{113,74}</string>
			</dict>

			<key>TallMan_Die.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{86,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,31}}</string>
				<key>sourceSize</key>
				<string>{86,31}</string>
			</dict>

			<key>TallMan_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,84},{61,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,0},{61,82}}</string>
				<key>sourceSize</key>
				<string>{122,82}</string>
			</dict>

			<key>TallMan_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{83,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,56}}</string>
				<key>sourceSize</key>
				<string>{83,56}</string>
			</dict>

			<key>TallMan_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{68,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{68,45}}</string>
				<key>sourceSize</key>
				<string>{89,45}</string>
			</dict>

			<key>TallMan_GetUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,430},{64,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,55}}</string>
				<key>sourceSize</key>
				<string>{64,55}</string>
			</dict>

			<key>TallMan_GetUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,226},{64,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,61}}</string>
				<key>sourceSize</key>
				<string>{64,61}</string>
			</dict>

			<key>TallMan_GetUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,288},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>TallMan_HP_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{86,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,15}}</string>
				<key>sourceSize</key>
				<string>{86,15}</string>
			</dict>

			<key>TallMan_HP_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{86,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,15}}</string>
				<key>sourceSize</key>
				<string>{86,15}</string>
			</dict>

			<key>TallMan_HP_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{86,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,15}}</string>
				<key>sourceSize</key>
				<string>{86,15}</string>
			</dict>

			<key>TallMan_Kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{82,85}}</string>
				<key>sourceSize</key>
				<string>{117,85}</string>
			</dict>

			<key>TallMan_Stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{55,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,0},{55,87}}</string>
				<key>sourceSize</key>
				<string>{85,87}</string>
			</dict>

			<key>TallMan_Stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,426},{55,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,0},{55,85}}</string>
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>

			<key>TallMan_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,60},{64,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{64,83}}</string>
				<key>sourceSize</key>
				<string>{87,83}</string>
			</dict>

			<key>TallMan_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{64,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{64,83}}</string>
				<key>sourceSize</key>
				<string>{93,83}</string>
			</dict>

			<key>TallMan_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,226},{66,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,0},{66,81}}</string>
				<key>sourceSize</key>
				<string>{99,81}</string>
			</dict>

			<key>TallMan_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,430},{69,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,0},{69,81}}</string>
				<key>sourceSize</key>
				<string>{98,81}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>