<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BusteS_Hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{66,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{66,15}}</string>
				<key>sourceSize</key>
				<string>{69,21}</string>
			</dict>

			<key>BusterS_Attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,172},{63,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{63,59}}</string>
				<key>sourceSize</key>
				<string>{77,59}</string>
			</dict>

			<key>BusterS_Attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,128},{55,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{55,71}}</string>
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>

			<key>BusterS_Attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,167},{61,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{61,70}}</string>
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>

			<key>BusterS_Attack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,129},{57,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{57,76}}</string>
				<key>sourceSize</key>
				<string>{95,76}</string>
			</dict>

			<key>BusterS_Attack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{94,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,0},{94,67}}</string>
				<key>sourceSize</key>
				<string>{163,67}</string>
			</dict>

			<key>BusterS_Die_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{74,56}}</string>
				<key>sourceSize</key>
				<string>{136,56}</string>
			</dict>

			<key>BusterS_Die_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{79,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{79,31}}</string>
				<key>sourceSize</key>
				<string>{79,52}</string>
			</dict>

			<key>BusterS_FallDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,202},{58,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,38}}</string>
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>

			<key>BusterS_FallDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,145},{60,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,0},{60,56}}</string>
				<key>sourceSize</key>
				<string>{93,56}</string>
			</dict>

			<key>BusterS_FallDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,28},{94,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,12},{94,43}}</string>
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>

			<key>BusterS_FallDown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,27}}</string>
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>

			<key>BusterS_Jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,28},{63,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{63,70}}</string>
				<key>sourceSize</key>
				<string>{119,70}</string>
			</dict>

			<key>BusterS_Jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,9},{60,55}}</string>
				<key>sourceSize</key>
				<string>{74,66}</string>
			</dict>

			<key>BusterS_Stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,99},{62,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{62,67}}</string>
				<key>sourceSize</key>
				<string>{77,67}</string>
			</dict>

			<key>BusterS_Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,73},{61,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,71}}</string>
				<key>sourceSize</key>
				<string>{61,71}</string>
			</dict>

			<key>BusterS_Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,56},{57,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,72}}</string>
				<key>sourceSize</key>
				<string>{57,72}</string>
			</dict>

			<key>BusterS_Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,56},{57,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,71}}</string>
				<key>sourceSize</key>
				<string>{57,71}</string>
			</dict>

			<key>BusterS_Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{61,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,72}}</string>
				<key>sourceSize</key>
				<string>{61,72}</string>
			</dict>

			<key>BusterS_Win.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{53,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,0},{53,103}}</string>
				<key>sourceSize</key>
				<string>{70,103}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>