<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FatMan_HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{59,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,15}}</string>
				<key>sourceSize</key>
				<string>{59,15}</string>
			</dict>

			<key>FatMan_attack1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{60,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,48}}</string>
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>

			<key>FatMan_attack1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{76,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,47}}</string>
				<key>sourceSize</key>
				<string>{76,47}</string>
			</dict>

			<key>FatMan_attack2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{60,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,48}}</string>
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>

			<key>FatMan_attack2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,73},{32,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,80}}</string>
				<key>sourceSize</key>
				<string>{32,80}</string>
			</dict>

			<key>FatMan_default_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,72}}</string>
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>

			<key>FatMan_default_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,154},{28,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,80}}</string>
				<key>sourceSize</key>
				<string>{28,80}</string>
			</dict>

			<key>FatMan_default_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,154},{26,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,80}}</string>
				<key>sourceSize</key>
				<string>{26,80}</string>
			</dict>

			<key>FatMan_defeat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{39,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,80}}</string>
				<key>sourceSize</key>
				<string>{39,80}</string>
			</dict>

			<key>FatMan_defeat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,139},{32,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,80}}</string>
				<key>sourceSize</key>
				<string>{32,80}</string>
			</dict>

			<key>FatMan_fall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,45},{58,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,47}}</string>
				<key>sourceSize</key>
				<string>{58,47}</string>
			</dict>

			<key>FatMan_fall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,93},{51,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>sourceSize</key>
				<string>{51,45}</string>
			</dict>

			<key>FatMan_fall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,139},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,55}}</string>
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>

			<key>FatMan_fall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,215},{56,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,27}}</string>
				<key>sourceSize</key>
				<string>{56,27}</string>
			</dict>

			<key>FatMan_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,71}}</string>
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>

			<key>FatMan_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,0},{59,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,44}}</string>
				<key>sourceSize</key>
				<string>{59,44}</string>
			</dict>

			<key>FatMan_stand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,48},{59,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,44}}</string>
				<key>sourceSize</key>
				<string>{59,44}</string>
			</dict>

			<key>FatMan_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,179},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,58}}</string>
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>

			<key>FatMan_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,93},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>

			<key>FatMan_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,120},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,58}}</string>
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>

			<key>FatMan_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,154},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>