<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Flame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,156},{95,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,77}}</string>
				<key>sourceSize</key>
				<string>{95,77}</string>
			</dict>

			<key>Flame_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{138,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,140}}</string>
				<key>sourceSize</key>
				<string>{138,140}</string>
			</dict>

			<key>Flame_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{138,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,141}}</string>
				<key>sourceSize</key>
				<string>{138,141}</string>
			</dict>

			<key>Flame_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,592},{138,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,140}}</string>
				<key>sourceSize</key>
				<string>{138,140}</string>
			</dict>

			<key>Flame_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,234},{87,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,89}}</string>
				<key>sourceSize</key>
				<string>{87,89}</string>
			</dict>

			<key>Flame_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,804},{93,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,55}}</string>
				<key>sourceSize</key>
				<string>{93,55}</string>
			</dict>

			<key>Flame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,705},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,98}}</string>
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>

			<key>Flame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,592},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,112}}</string>
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>

			<key>Flame_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,450},{121,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,141}}</string>
				<key>sourceSize</key>
				<string>{121,141}</string>
			</dict>

			<key>Flame_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,874},{130,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,145}}</string>
				<key>sourceSize</key>
				<string>{130,145}</string>
			</dict>

			<key>Flame_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{136,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,145}}</string>
				<key>sourceSize</key>
				<string>{136,145}</string>
			</dict>

			<key>Flame_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{139,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,147}}</string>
				<key>sourceSize</key>
				<string>{139,147}</string>
			</dict>

			<key>Flame_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{139,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,145}}</string>
				<key>sourceSize</key>
				<string>{139,145}</string>
			</dict>

			<key>Flame_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{146,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,155}}</string>
				<key>sourceSize</key>
				<string>{146,155}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Flame.png</string>
			</dict>
		</dict>
</plist>